# This config is imported in a bash script via source.

# Path to comm-l10n
# https://hg.mozilla.org/projects/comm-l10n/
l10n_clones_path="${root_path}/comm-l10n/"

# Path to comm-strings-quarantine clone
# https://hg.mozilla.org/projects/comm-strings-quarantine/
quarantine_path="${root_path}/comm-strings-quarantine/"

# Path to mercurial clone of mozilla-unified, only used for the cleanup
# migrations script. Leave empty if not needed.
# https://hg.mozilla.org/mozilla-unified/
# mozilla_unified_path="/path/to/mozilla-unified-repo/"

export HGRCPATH=${root_path}/hgrc
